{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}

{#
  This file may be overridden in your custom deployment.
  It will be included in the head block in every view in superset and is a
  good place to include your custom link, meta, style or script elements.
  <script nonce="{{ csp_nonce() }}" src="https://browser.sentry-cdn.com/10.5.0/bundle.tracing.min.js"
    integrity="sha384-a/kpZPRhuQUHO/PWjukV4gVMXzT9kTRhTqz6fVjhBpWKR3zy1gEz9+UR6bTC+lHI" crossorigin="anonymous"></script>
  <script nonce="{{ csp_nonce() }}" src="https://browser.sentry-cdn.com/10.5.0/httpclient.min.js"
    integrity="sha384-KOyM35pVaVJUnw//tloW2KSgAti9z6wxHLfD4tQJWghZo2UUpaAGkU54YOXu1b60" crossorigin="anonymous"></script>
  <script nonce="{{ csp_nonce() }}">
    Sentry.init({
      dsn: "https://5c40cd88f441f3d29e3508a8318de48e@o4509000299773952.ingest.us.sentry.io/4509006032535552",
      integrations: [
        Sentry.httpClientIntegration({
          failedRequestStatusCodes: [[400, 499], [500, 599]]
        }),
        Sentry.browserTracingIntegration()
      ],
      // Set tracesSampleRate to 1.0 to capture 100%
      // of transactions for tracing.
      // We recommend adjusting this value in production
      // Learn more at
      // https://docs.sentry.io/platforms/javascript/configuration/options/#traces-sample-rate
      tracesSampleRate: 1.0,
      // Set `tracePropagationTargets` to control for which URLs trace propagation should be enabled
      tracePropagationTargets: [
        /^https:\/\/.*\.report\.insentric\.net/,
      ],
      // This option is required for capturing headers and cookies.
      sendDefaultPii: true,
    });
  </script>
  <!-- Google Tag Manager -->
    <script nonce="{{ csp_nonce() }}">
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M8KZ9DR7');
    </script>
  <!-- End Google Tag Manager -->
#}
